{% extends 'manager/base.html' %}
{% block title %}Login gestionnaire{% endblock %}
{% block content %}
    <div id="home-main-content">
        <h1>Connexion gestionnaire</h1>
        <div>
            <div class="login-form">
                {% if form.errors %}
                    <p>
                        Le nom d'utilisateur et le mot de passe ne correspondent pas.
                        Merci d'essayer de nouveau.
                    </p>
                {% endif %}
                <form action="{% url 'manager:login' %}" method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}"/>
                    <p><input type="submit" value="Log-in"></p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}