{% extends "visitor/base.html" %}

{% block title %}SUPERLOC | Gestion des véhicules{% endblock %}

{% block content %}
<h1>Gestion des véhicules</h1>
<p>Agence de <b>{{agency.name}}</b></p>


<table id="manager_table">
    <tr>
        <th id="column_manager_table">
            Catégorie
        </th>
        <th id="column_manager_table">
            Marque
        <th id="column_manager_table">
            Modèle
        </th>
        <th id="column_manager_table">
            Immatriculation
        </th>
        <th>
        </th>
    </tr>
    {% for vehicle in vehicle_list %}
    <tr>
        <td id="column_manager_table">
             {{vehicle.category.code}} - {{vehicle.category.label}}
        </td>
        <td id="column_manager_table">
            {{vehicle.manufacturer}}
        </td>
        <td id="column_manager_table">
            {{vehicle.car_model}}
        </td>
        <td id="column_manager_table">
            {{vehicle.registration_number}}
        </td>
        <td>
            <a href="{% url 'manager:vehicle_delete' vehicle.id %}">Supprimer ce véhicule</a>
        </td>
    </tr>
        {% endfor %}
</table>
<p>
    <a href="{% url 'manager:vehicle_add' agency.id %}">Ajouter un véhicule</a>
</p>
{% endblock %}