{% extends "./base.html" %}

{% load static %}

{% block title %}Nos agences{% endblock %}

{% block content %}
<div id="display_agencies">
    <h1>Nos agences</h1>
    <div id="agencies_strip">
        <div id="agencies">
            {% for agency in agency_list %}
            <div id="agency">
                <p><b>{{agency.name}}</b></p>
                <p>{{agency.address}}<br>{{agency.zip_code}} {{agency.city}}</p>
                <p>{{agency.phone}}</p>
                <p><a href="mailto:{{agency.email}}">Contacter cette agence</a></p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}