{% extends "visitor/base.html" %}

{% block title %}SUPERLOC | Gestion des réservations{% endblock %}

{% block content %}
<div>
    <h1>Gérer vos réservations</h1>
    <p><b>{{user.first_name}} {{user.last_name}}</b></p>
    <table id="visitor_table">
        <tr id="visitor_table">
            <th id="column_visitor_table">
                Numéro de réservation
            </th>
            <th id="column_visitor_table">
                Catégorie
            </th>
            <th id="column_visitor_table">
                Marque
            </th>
            <th id="column_visitor_table">
                Modèle
            </th>
            <th id="column_visitor_table">
                Immatriculation
            </th>
            <th id="column_visitor_table">
                Date de départ
            </th>
            <th id="column_visitor_table">
                Date de retour
            </th>
            <th id="column_visitor_table">
                Agence de départ
            </th>
            <th id="column_visitor_table">
                Agence de retour
            </th>
        </tr>
        {% for booking in booking_list %}
        <tr>
            <td id="column_visitor_table">
                {{booking.id}}
            </td>
            <td id="column_visitor_table">
                {{vehicle.category.code}} - {{vehicle.category.label}}
            </td>
            <td id="column_visitor_table">
                {{vehicle.manufacturer}}
            </td>
            <td id="column_visitor_table">
                {{vehicle.car_model}}
            </td>
            <td id="column_visitor_table">
                {{vehicle.registration_number}}
            </td>
            <td id="column_visitor_table">
                {{booking.date_start}}
            </td>
            <td id="column_visitor_table">
                {{booking.date_end}}
            </td>
            <td id="column_visitor_table">
                {{booking.agency_id}}
            </td>
            <td id="column_visitor_table">
                Agence de retour
            </td>
            <td>
                <a href="{% url 'visitor:home' %}">Annuler cette réservation</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}