{% extends "./base.html" %}

{% block title %}Confirmation de réservation{% endblock %}

{% block content %}
    <div class="display-vehicles">
        <div style="color: black;">
            {{ vehicles.count }} Véhicule{{ vehicles.count|pluralize }} trouvé{{ vehicles.count|pluralize }}
            suite à votre recherche:
        </div>
        <div class="vehicles-wrapper">
            <div class="vehicles">
                {% for vehicle in vehicles %}
                    {% include 'visitor/vehicle-vignette.html' %}
                {% empty %}
                    Il va falloir essayer d'autres critères
                    {% include 'reservation_form.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
