{% extends 'visitor/base.html' %}

{% block title %}SUPERLOC | Location de véhicules de tourisme et utilitaires{% endblock %}

{% block content %}
    <div id="main_content">
        {% load static %}
        <div id="left_block">
            <div id=null>
            </div>
            <div class="carousel">
                <input type="radio" name="images" id="i1" checked>
                <input type="radio" name="images" id="i2">
                <input type="radio" name="images" id="i3">
                <input type="radio" name="images" id="i4">
                <input type="radio" name="images" id="i5">
                    <div class="carousel_img" id="one">
                        <img src="{% static 'visitor/images/citadine.jpg' %}" alt="Citadine">
                        <figcaption>Louer une citadine</figcaption>
                        <label for="i5" class="pre"></label>
                        <label for="i2" class="nex"></label>
                    </div>
                    <div class="carousel_img" id="two">
                        <img src="{% static 'visitor/images/routiere.jpg' %}" alt="Routière">
                        <figcaption>Louer une routière</figcaption>
                        <label for="i1" class="pre"></label>
                        <label for="i3" class="nex"></label>
                    </div>
                    <div class="carousel_img" id="three">
                        <img src="{% static 'visitor/images/luxe.jpg' %}" alt="Luxe">
                        <figcaption>Louer une voiture de luxe</figcaption>
                        <label for="i2" class="pre"></label>
                        <label for="i4" class="nex"></label>
                    </div>  
                    <div class="carousel_img" id="four">
                        <img src="{% static 'visitor/images/transport.jpg' %}" alt="Transport de personnes">
                        <figcaption>Louer un véhicule de transport de personnes</figcaption>
                        <label for="i3" class="pre"></label>
                        <label for="i5" class="nex"></label>
                    </div>        
                    <div class="carousel_img" id="five">
                        <img src="{% static 'visitor/images/utilitaire.jpg' %}" alt="Utilitaire">
                        <figcaption>Louer un utilitaire</figcaption>
                        <label for="i4" class="pre"></label>
                        <label for="i1" class="nex"></label>
                    </div>
            </div>
        </div>
        <div id="right_block">
            <div id="advertisement">
                <h2>Super Promo !</h2>
                Citadine à partir de 39 € TTC/JOUR<br>
                <img src="{% static 'visitor/images/trois_voitures.jpg' %}" alt="Trois voitures" />
            </div>
            <div id="quick_rent">
                <h2>Louer un véhicule</h2>
                <div id="agence">
                    Trouver votre agence
                    <button type="submit">Go !</button>
                </div>
                <form>
                    <div id="vehicle_choice">
                        <input type="radio" id="Choice1"
                        name="vehiclestype" value="Tous véhicules" checked>
                        <label for="Choice1">Tous véhicules</label>
                        <input type="radio" id="Choice2"
                        name="vehiclestype" value="Voitures">
                        <label for="Choice2">Voitures</label>
                        <input type="radio" id="Choice3"
                        name="vehiclestype" value="Utilitaires">
                        <label for="Choice3">Utilitaires</label>
                    </div>
                    <div id="date_choice">
                        <div id="start">
                            <label for="BEGDA">Départ</label>
                            <input type="datetime-local" id="BEGDA"
                            name="BEGDA"
                            min="2021-10-01T00:00" max="2022-12-01T00:00" required>
                        </div>
                        <div id="back">
                            <label for="ENDDA">Retour</label>
                            <input type="datetime-local" id="ENDDA"
                            name="ENDDA"
                            min="2021-10-01T00:00" max="2022-12-01T00:00" required>
                        </div>
                    </div>
                    <div id="book">
                        <input type="submit" value="Réserver !">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

<!--
TODO : convertir liens images
-->