{% extends 'visitor/base.html' %}
{% load static %}

{% block title %}SUPERLOC | Location de véhicules de tourisme et utilitaires{% endblock %}

{% block content %}
    <div id="main_content">
        <div id="left_block">
            <div id=null>
            </div>
            <div class="carousel">
                <input type="radio" name="images" id="i1" checked>
                <input type="radio" name="images" id="i2">
                <input type="radio" name="images" id="i3">
                <input type="radio" name="images" id="i4">
                <input type="radio" name="images" id="i5">
                    <div class="carousel_img" id="one">
                        <img src="{% static 'visitor/images/citadine.jpg' %}" alt="Citadine">
                        <figcaption>Louer une citadine</figcaption>
                        <label for="i5" class="pre"></label>
                        <label for="i2" class="nex"></label>
                    </div>
                    <div class="carousel_img" id="two">
                        <img src="{% static 'visitor/images/routiere.jpg' %}" alt="Routière">
                        <figcaption>Louer une routière</figcaption>
                        <label for="i1" class="pre"></label>
                        <label for="i3" class="nex"></label>
                    </div>
                    <div class="carousel_img" id="three">
                        <img src="{% static 'visitor/images/luxe.jpg' %}" alt="Luxe">
                        <figcaption>Louer une voiture de luxe</figcaption>
                        <label for="i2" class="pre"></label>
                        <label for="i4" class="nex"></label>
                    </div>  
                    <div class="carousel_img" id="four">
                        <img src="{% static 'visitor/images/transport.jpg' %}" alt="Transport de personnes">
                        <figcaption>Louer un véhicule de transport de personnes</figcaption>
                        <label for="i3" class="pre"></label>
                        <label for="i5" class="nex"></label>
                    </div>        
                    <div class="carousel_img" id="five">
                        <img src="{% static 'visitor/images/utilitaire.jpg' %}" alt="Utilitaire">
                        <figcaption>Louer un utilitaire</figcaption>
                        <label for="i4" class="pre"></label>
                        <label for="i1" class="nex"></label>
                    </div>
            </div>
        </div>
        <div id="right_block">
            <div id="advertisement">
                <h2>Super Promo !</h2>
                Citadine à partir de 39 € TTC/JOUR<br>
                <img src="{% static 'visitor/images/trois_voitures.jpg' %}" alt="Trois voitures" />
            </div>
            <div id="quick_rent">
                <h2>Louer un véhicule</h2>
                <div id="agence">
                    <form action="{% url 'visitor:agencies' %}">
                        Trouver votre agence
                        <button type="submit">Go !</button>
                    </form>
                </div>
                <form action="{% url 'visitor:todo' %}">
                    <div id="vehicle_choice">
                        Catégorie de véhicule
                        <select id="category" required>
                            <option value="L">L - Compacte automatique</option>
                        </select>
                    </div>
                    <div id ="date_agency">
                        <div id="departure">
                            <div class="date">
                                <label for="date_departure">Départ</label><br>
                                <input type="datetime-local" id="date_departure"
                                name="date_start"
                                min="2022-01-01T00:00" max="2022-12-01T00:00" required>
                            </div>
                            <div class="agency">
                                Agence<br>
                                <select id="agency_departure" required>
                                    <option value="1">Paris - Dauphine</option>
                                </select>
                            </div>
                        </div>
                        <div class="back">
                            <div class="date">
                                <label for="date_back">Retour</label><br>
                                <input type="datetime-local" id="date_back"
                                name="date_back"
                                min="2022-01-01T00:00" max="2022-12-01T00:00" required>
                            </div>
                            <div class="agency">
                                Agence<br>
                                <select id="agency_back" required>
                                    <option value="1">Paris - Dauphine</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="book">
                        <input type="submit" value="Réserver !">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}