{% extends 'visitor/base.html' %}

{% block title %}SUPERLOC | Location de véhicules de tourisme et utilitaires{% endblock %}

{% block content %}
<div id="language_choice">
    <p>Pour le moment, SUPERLOC n'est disponible qu'en français.</p>
    <p>في الوقت الحالي ، يتوفر SUPERLOC باللغة الفرنسية فقط.</p>
    <p>目前，SUPERLOC 僅提供法語版本。</p>
    <p>現時点では、SUPERLOCはフランス語でのみご利用いただけます。</p>
    <p>फिलहाल, SUPERLOC केवल फ़्रेंच में उपलब्ध है।</p>
    <p>На данный момент SUPERLOC доступен только на французском языке.</p>
    <p>נכון לעכשיו, SUPERLOC זמין רק בצרפתית.</p>
    <p>La version Espéranto arrive bientôt !</p>
    <p>La Esperanta versio baldaŭ venos !</p>
</div>
{% endblock %}