{% extends 'visitor/base.html' %}

{% block title %}SUPERLOC | Location de véhicules de tourisme et utilitaires{% endblock %}

{% block content %}
<section>
<h1>MENTIONS LÉGALES</h1>
<h2>1 - Généralités </h2>
Le présent site SUPERLOC est la propriété de la société SUPERLOC.<br />
<br />
Société anonyme au capital de 150 000 000,01 euros<br />
<br />
Immatriculée au RCS de Zanzibar sous le numéro 000 000 000<br />
<br />
Siège social 1 rue de la République à Pétaouchnok<br />
<br />
Téléphone : 01 00 00 00 00<br />
<br />
Adresse de courrier électronique : contact@superloc.com<br />
<br />
La présente notice a pour objet de définir les modalités selon lesquelles SUPERLOC met à la disposition des internautes son site Internet superloc.com (ci-après le Site) et les conditions dans lesquelles les internautes accèdent et utilisent ce site Internet.<br />
<br />
Merci de lire attentivement cette notice légale avant de consulter le Site. L'accès et l'utilisation de ce Site impliquent votre acceptation des présentes Conditions d'Utilisation .<br />
<br />
L'accès à ce Site est gratuit, hors fournisseurs d'accès Internet et hors coûts de communications téléphoniques qui sont facturés directement par les opérateurs.<br />
<h2>2 - Protection des données</h2>
Toute information personnelle que vous nous fournissez sur ce Site est traitée conformément à notre Politique de Protection des Données Personnelles.<br />
<h2>3 - Droits de propriété</h2> Tous les droits d'auteur, marques, droits sur les bases de données et autres droits de propriété intellectuelle sur les éléments de ce Site (ainsi que l'architecture et la présentation de ce Site), sont, avec les codes du logiciel, la propriété exclusive de SUPERLOC.<br />
<br />
Vous n'êtes pas autorisé à copier, modifier, altérer, publier, diffuser, distribuer, vendre ni même transférer les éléments de ce Site ou les codes du logiciel le constituant à des fins autres que personnelles, que ce soit en partie ou intégralement et par quelque procédé que ce soit sauf accord écrit préalable de SUPERLOC. Il est strictement interdit d'utiliser ou de reproduire le nom "SUPERLOC"; et ou son logo, seuls ou associés, à quelque titre que ce soit sans l'accord préalable écrit de SUPERLOC.<br />
<h2>4 - Utilisation autorisée</h2>
Vous ne pouvez utiliser ce Site qu'en respectant les présentes Conditions d'Utilisation et en tout état de cause votre utilisation ne doit être faite qu'à des fins licites, c'est à dire en respectant l'ensemble des lois, règlements et usages en vigueur. En particulier, vous vous engagez à :<br />
<br />
- Ne pas effectuer de réservations en utilisant des cartes de paiement dont le numéro aurait été obtenu illicitement ou généré par un logiciel de routine;<br />
<br />
- Ne pas utiliser de logiciel, routine ou dispositif en vue d'entraver ou d'essayer d'entraver le bon fonctionnement du Site, que ce soit manuellement ou électroniquement, par quelque moyen que ce soit, étant notamment visé le fait de télécharger ou de rendre accessibles des fichiers contenant des données altérées ou encore des virus ;<br />
<br />
- Ne pas dégrader, altérer, ni modifier l'aspect graphique de ce Site ou les codes du logiciel le constituant ;<br />
<br />
- Ne pas entreprendre d'action susceptible d'entraîner un trafic déraisonnable ou disproportionné sur le Site ou sur une infrastructure liée. Si nous considérons (à notre entière discrétion) que vous violez l'une des dispositions des présentes Conditions d'Utilisation et sans préjudice de tous nos autres droits, nous nous réservons le droit d'annuler vos réservations sans vous consulter et/ou de vous refuser l'accès à ce Site.<br />
<h2>5 - Modification du Site</h2>
Nous nous réservons le droit d'apporter des améliorations ou d'effectuer des modifications sur les informations, les services, produits et autres éléments de ce Site, ou encore de le fermer, à n'importe quel moment, sans information préalable. Nous nous réservons également le droit de modifier les présentes Conditions d'Utilisation à n'importe quel moment, ces modifications étant immédiatement applicables, dès leur mise en ligne sur ce Site. Par conséquent, en continuant d'accéder à ce Site ou de l'utiliser, vous êtes considéré comme ayant accepté les modifications des présentes Conditions d'Utilisation.<br />
<h2>6 - Liens vers d'autres sites Internet</h2>
Ce Site peut inclure des liens vers d'autres sites Internet. SUPERLOC n'exerçant aucun contrôle sur ces sites, nous ne sommes pas responsables des contenus, informations, documents, produits ou services qu'ils contiennent ou auxquels ils permettent d'accéder.<br />
<br />
Par conséquent l'accès et l'utilisation de ces sites Internet se font sous votre seule responsabilité.<br />
<br />
De même l'existence d'un lien hypertexte en provenance d'un site tiers vers le Site n'implique aucune coopération entre SUPERLOC et ce site tiers. SUPERLOC n'exerçant aucun contrôle sur les sites de tiers, nous n'assumons aucune responsabilité quant aux contenus, informations, documents, produits ou services des sites comportant un lien vers le site superloc.com.<br />
<h2>7 - Exclusion de garantie</h2>
Dans la limite de ce qui est autorisé par la loi, nous excluons toute garantie relative à l'information, aux services et documents contenus sur ce Site. Ces informations, services et documents sont fournis tels quels et en l'état sans aucune garantie, expresse ou tacite de quelque sorte que ce soit.<br />
<br />
SUPERLOC ne pourra être tenue pour responsable en cas de contamination des matériels informatiques des internautes résultant de la propagation d'un virus ou autres infections informatiques. Il vous appartient de prendre toutes les mesures appropriées de façon à protéger vos propres données et/ou logiciels de la contamination par des éventuels virus circulant sur le réseau Internet.
</section>
{% endblock %}