{% extends 'visitor/base.html' %}

{% block title %}SUPERLOC | Location de véhicules de tourisme et utilitaires{% endblock %}

{% block content %}
    <section>
        <div class="display-categories">
            {% load static %}
            <h1>Découvrez nos véhicules</h1>
            <div class="categories-wrapper">
                <div class="categories">
                    
                    <div class="category">
                        <img src="{% static 'visitor/images/fiat500feature.jpg' %}" alt="image">
                        <h3>(A) Petite citadine</h3>
                    </div>
    
                    <div class="category">
                        <img src="{% static 'visitor/images/peugeot-208-feature.jpg' %}" alt="image">
                        <h3>(B) Citadine</h3>
                    </div>
                    
                    <div class="category">
                        <img src="{% static 'visitor/images/peugeot-2008-feature.jpg' %}" alt="image">
                        <h3>(C) Compacte crossover</h3>
                    </div>
                    
                    <div class="category">
                        <img src="{% static 'visitor/images/nissan-qashqai-new-feature.jpg' %}" alt="image">
                        <h3>(D) SUV</h3>
                    </div>
                    
                    <div class="category">
                        <img src="{% static 'visitor/images/peugeot-3008-2017-sideview-feature.jpg' %}" alt="image">
                        <h3>(E) SUV automatique</h3>
                    </div>
                    
                    <div class="category">
                        <img src="{% static 'visitor/images/merc-c-class-feature.jpg' %}" alt="image">
                        <h3>(F) Berline premium</h3>
                    </div>
                    
                    <div class="category">
                        <img src="{% static 'visitor/images/opel-corsa-neige-feature.jpg' %}" alt="image">
                        <h3>(G) Moyenne économique</h3>
                    </div>
                    
                    <div class="category">
                        <img src="{% static 'visitor/images/renault-scenic-2017-sideview-feature.jpg' %}" alt="image">
                        <h3>(H) Monospace</h3>
                    </div>
                    
                    <div class="category">
                        <img src="{% static 'visitor/images/vw-polo-5door-feature.jpg' %}" alt="image">
                        <h3>(I) Citadine diesel</h3>
                    </div>
                    
                    <div class="category">
                        <img src="{% static 'visitor/images/peugeot-308-feature.jpg' %}" alt="image">
                        <h3>(J) Compacte</h3>
                    </div>
                    
                    <div class="category">
                        <img src="{% static 'visitor/images/peugeot_5008_feature.jpg' %}" alt="image">
                        <h3>(K) Monospace familiale</h3>
                    </div>
                    
                    <div class="category">
                        <img src="{% static 'visitor/images/renault-17megane-feature.jpg' %}" alt="image">
                        <h3>(L) Compacte automatique</h3>
                    </div>
                    
                    <div class="category">
                        <img src="{% static 'visitor/images/merc-e-class-sedan-new-sideview-feature.jpg' %}" alt="image">
                        <h3>(M) Berline luxe</h3>
                    </div>
                    
                    <div class="category">
                        <img src="{% static 'visitor/images/renault-trafic-passenger-new-feature.jpg' %}" alt="image">
                        <h3>(N) Minibus</h3>
                    </div>
                    
                    <div class="category">
                        <img src="{% static 'visitor/images/renault-espace-new-feature.jpg' %}" alt="image">
                        <h3>(O) Monospace premium</h3>
                    </div>
                    
                    <div class="category">
                        <img src="{% static 'visitor/images/kuga-neige-feature-.jpg' %}" alt="image">
                        <h3>(P) SUV Familial</h3>
                    </div>
                    
                </div>
        </div>
    </section>
{% endblock %}