{% extends "visitor/base.html" %}

{% block title %}SUPERLOC | Disponibilité des véhicules{% endblock %}

{% block content %}
<div>
    <h1>Disponibilité des véhicules</h1>
    <p>Agence de <b>{{agency.name}}</b></p>
    <p>Réservation du <b>{{date_departure}}</b> au <b>{{date_back}}</b></p>
    <table id="manager_table">
        <tr id="manager_table">
            <th id="column_manager_table">
                Catégorie
            </th>
            <th id="column_manager_table">
                Marque
            </th>
            <th id="column_manager_table">
                Modèle
            </th>
            <th id="column_manager_table">
                Immatriculation
            </th>
        </tr>
        {% for vehicle in vehicle_list %}
        <tr>
            <td id="column_manager_table">
                {{vehicle.category.code}} - {{vehicle.category.label}}
            </td>
            <td id="column_manager_table">
                {{vehicle.manufacturer}}
            </td>
            <td id="column_manager_table">
                {{vehicle.car_model}}
            </td>
            <td id="column_manager_table">
                {{vehicle.registration_number}}
            </td>
            <td>
                <a href="{% url 'visitor:booking' %}">Réserver ce véhicule</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}